    /*text colors*/
    $secondary-txt-cl: #757575;
    $accent-txt-cl: #2196F3;
    $txt-color: #FFFFFF;
    $animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    $main-txt-cl: #212121;

    /*background colors*/
    $dark-bg-cl: #2F303A;
    $light-bg-cl: #FFFFFF;
    /*others*/

    $font-style-roboto: Roboto, sans-serif;
    $font-style-raleway: Raleway, sans-serif;
    $items: 9;
    $indent: 30px;

    