.clients{
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: 1199.5px) {
        flex-wrap: wrap;
    }
}

.clients__item{
    @media screen and (min-width: $mobile) {
        @include flex-calc($indent, $elements: 2);
    }

    @media screen and (min-width: $tablet) {
        @include flex-calc($indent, $elements: 3);
    }

    @media screen and (min-width: $desktop) {
        @include flex-calc($indent, $elements: 6);
    }
}


.clients__link {
    fill: #AFB1B8;
    width: 130px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: $light-bg-cl;
    transition: fill $animation, border-color $animation;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $mobile) {
        width: 210px;
    }

    @media screen and (min-width: $tablet) {
        width: 226px;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    }
    
    &:active,
    &:hover,
    &:focus {
        fill: $accent-txt-cl;
        border-color: $accent-txt-cl;
    }
}

.clients__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 60px;
}