.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: 1199.9px) {
        flex-wrap: wrap;
    }
}

.features__item {
    width: 100%;
    height: 100%;
    @include flex-calc($indent: 30px, $elements: 1);
    
    @media screen and (min-width: $tablet) {
        @include flex-calc($indent: 30px, $elements: 2);
    }
    
    @media screen and (min-width: 1200px) {
        @include flex-calc($indent: 30px, $elements: 4);
        height: 248px;
    }
}

.features__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;

    @media screen and (min-width: $mobile) {
       width: 450px;
    }

    @media screen and (min-width: $tablet) {
       width: 354px;
    }

    @media screen and (min-width: $desktop) {
       width: 270px;
    }
}   

.features__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

.features__caption {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-txt-cl;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $mobile) {
        font-size: 14px;
    }

    @media screen and (min-width: $tablet) {
       text-align: left;
    }
}

.features__txt {
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: $secondary-txt-cl;
    width: 290px;
    @media screen and (min-width: $mobile) {
        width: 450px;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}