.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__item {
    width: 100%;
    @include flex-calc($indent: 30px, $elements: 1);

    @media screen and (min-width: $tablet) {
        @include flex-calc($indent: 30px, $elements: 2);
    }

    @media screen and (min-width: $desktop) {
        @include flex-calc($indent: 30px, $elements: 3);
    }
}

.projects__link {
    height: 100%;
    transition: box-shadow $animation;

        &:hover,
        &:focus{
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
        &:hover .projects__card--overlay,
        &:focus .projects__card--overlay{
        transform: translateY(0);
    }
}
.projects__card {
    position: relative;
    overflow: hidden;

}
.projects__card--overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(112%);
    background-color: rgba(33, 150, 243, 0.9);   
    transition: transform $animation;
    backdrop-filter: blur(1px);
    padding: 30px;

    @media screen and (min-width: $mobile) {
        padding: 49px 24px;
    }

    @media screen and (min-width: $desktop) {
        padding: 63px 24px;
    }
}
.projects__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    letter-spacing: 0.03em;
    color: $txt-color;
    user-select: none;
    
    @media screen and (min-width: $mobile) {
    font-size: 18px;
    line-height: 28px;
    }
}

.projects__desc {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    flex-grow: 1;
}

.projects__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects__text {
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.03em;
    color: $secondary-txt-cl;
}