.skill {   
    &__container{
        @extend %container;
        padding-top: 0;
        padding-bottom: 94px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    
    &__item {
        position: relative;
    }
    
    &__box {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 27px 10px;
        width: 100%;
        background-color: rgba(47, 48, 58, 0.8);
    }
    
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $light-bg-cl;
    }
}


@media screen and (max-width: 1199px) {
    .skill{
        display: none;
    }
}