.team {
    background-color: #F5F4FA;

    &__container{
        padding-top: 60px;
        padding-bottom: 94px;
        align-items: center;
        
        @media screen and (min-width: 1200px) {
        padding-top: 94px;
        }
    }
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        @media screen and (min-width: 1200px) {
        display: flex;
        }
    }
    
    &__card {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: $light-bg-cl;
    }
    
    &__desc {
        padding: 30px 10px;
    }
    
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18em;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }
    
    &__txt {
        font-size: 16px;
        line-height: 1.18em;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-txt-cl;
        margin-bottom: 16px;
    }
}
