.menu__btn{
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 40px;
    height: 40px;
    
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
    display: none;
    }

.menu-overlay & {
    position: absolute;
    top: 10px;
    right: 10px;
}

}
.menu-icon{
    fill: #000;
    &:active, 
    &:hover, 
    &:focus {
        fill: $accent-txt-cl;
        }
}

.menu-close-icon {
    fill: #000;
    &:active, 
    &:hover,
    &:focus{
        fill: $accent-txt-cl;
    }
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $light-bg-cl;
    width: 100%;
    height: 100%;
    z-index: 100;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity $animation, visibility $animation;

    @media screen and (min-width: $tablet) {
        display: none;
    }

    &.is-open{
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
    }
}

.menu-container{
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    
    transform: translateX(100%);
    transition: transform $animation;

    .menu-overlay.is-open &{
    transform: translateX(0);
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.mobile-nav{
    margin-bottom: auto;
}

.mobile-nav-item{
    margin-bottom: 32px;
}

.mobile-nav-link{
    font-family: $font-style-roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing:  0.02em;
    color: $main-txt-cl;
    &:active, 
    &:hover,
    &:focus{
    color: $accent-txt-cl;
    }
}

.mobile-address{
    margin-bottom: 64px;
}

.mobile-address-item{
    margin-bottom: 32px;
}

.mobile-address-tel{
font-family: $font-style-roboto;
font-weight: 500; 
font-size: 24px;
line-height: 40px; 
letter-spacing: 0.02em;
color: $accent-txt-cl;

@media screen and (min-width: $mobile) {
    font-size: 34px;
}
}

.mobile-address-mail{
    font-family: $font-style-roboto;
    font-weight: 500px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $secondary-txt-cl;

    @media screen and (min-width: $mobile) {
        font-size: 24px;
    }
}

.mobile-soclinks{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    @media screen and (min-width: $mobile) {
        gap: 10px;
    }
}

.mobile-soclinks-link {
    font-family: $font-style-roboto;
    font-weight: 500px;
    font-size: 12px;
    line-height: 22px; 
    letter-spacing: 2%;
    color: $accent-txt-cl;
    display: flex;
    gap: 5px;

    @media screen and (min-width: $mobile) {
    gap: 10px;
    font-size: 18px;
    }
    
    .mobile-soclinks-item:not(:last-child) &::after{
        content: "";
        display: block;
        width: 1px;
        background-color: rgba(33, 33, 33, 0.2);
    }
}

